<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>
 <style type="text/css">
    body {
    margin: 0px;
    }
    #header {
    background:blanchedalmond;
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    }
    #header ul,#header li{
      padding: 0px;
      margin: 0px;
    }
    #header li{
      position: relative;
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px;
      
    }
    #header li a{
      width: 100px;
      height: 30px;
      display: block;
      text-align: center;
      text-decoration: none;
    }
    #header ul #logout{
      display: block;
      position: relative;
      top: 30px;
      left: 20px;
      float: right;
    }
    #sidebar {
    background: wheat;
    height: 500px;
    width: 10%;
    float: left;
    }
    #main {
    background-color: burlywood;
    height: 500px;
    width: 90%;
    float: left;
    }
    #main #img{
      width: 250px;
      height: 200px;
      float: left;
    }
    #main #img ul li {
      position: relative;
      list-style: none;
    }
    #main #img ul li #img{
      
      width: 150px;
      height: 100px;
      border:1px solid wheat;
      border-radius: 50px;

    }
    #main #img ul li p{
      clear: both;
      width: 200px;
      height: 10px;
      margin: 10px;
    }
    #footer {
    background: violet;
    height: 100px;
    width: 100%;
    clear: both;
    }
 </style>
<body>
  <div id="header">
    <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/home/product/create">Create Product</a>
        </li>
        <li>
          <a href="#">View</a>
        </li>
    </ul>
    <ul>
          <li id="logout">
          <%=account.username%>
          <a href="/home/logout"><input type="submit" value="Logout"></a>
          </li>
    </ul>
  </div>
  <div id ="sidebar">
      sidebar
  </div>
  <div id="main"> 
    
    <% items.forEach(function(image) { %>
      <div id="img">
        <ul>
          <li>
            <img id="img"
            src="data:image/<%=image.img.contentType%>;base64,
                    <%=image.img.data.toString('base64')%>"
          />
          </li>
          <li>
            <p>name:<%= image.name %></p>
          </li>
          <li>
            <p>title:<%= image.title %></p>
          </li>
          <li>
            <p>gia:<%= image.money %></h5></p>
          </li>
          <li>
            <p>Username:<%=image.productId.username%></p>
          </li>
        </ul>
      </div>
      <% }) %>
    
  </div>
  <div id="footer"> 
    footer
  </div>
 
</body>
</html>