<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>
<body>
  <div>
    <%=account.username%>
    <a href="/home/logout">Logout</a>
  </div>
  <div>
    <a href="/home/product/create">Create product</a>
  </div>
    <h1>Home</h1>
    <div>
      <% items.forEach(function(image) { %>
      <div>
        <div>
          <img
            src="data:image/<%=image.img.contentType%>;base64,
                    <%=image.img.data.toString('base64')%>"
          />
          <div>
            <h5><%= image.name %></h5>
 
            <p><%= image.title %></p>
            <p><%= image.money %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
</body>
</html>